.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(90deg, #FF1414 0%, #6D0101 100%);
    color: white;
}

header h1 {
    margin-top: 13vh;
    font-size: 3rem; /* Responsive font size */
    text-align: center;
}