
body, html {
    margin: 0;
    padding: 0;
    background-image: url('../assets/background.png');
    background-size: 100% auto;
    background-position: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 1;
    padding: 20px;
}

header h1 {
    margin-top: 2vh;
    font-size: 3vw; /* Responsive font size */
    text-align: center;
    justify-content: center;
}

main {
    width: 80%; /* Taking up 80% of the container width */
    margin-top: 1em;
}

#actionButton {
    background-color: red;
    border: none;
    padding: 1em 2em;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
    display: block; /* Allows for centering */
    margin: 0 auto; /* Center button in the container */
    margin-top: 5vh;
}

#leaderboard {
    
    margin-top: 9vh;
    background:gainsboro; /* Semi-transparent background */
    border-radius: 0.5em;
    padding: 1em;
    width: 90%;
    color: Black; /* Ensuring text is white */
    text-align: center; /* Center-align text in table cells */
}

table {
    width: 100%;
    border-collapse: collapse;
    background: transparent; /* Table background transparency */
}

th, td {
    border: 1px solid #ffffff;
    text-align: center; /* Center-align text in table cells */
    padding: 0.5em; /* Spacing inside cells */
    color: green; /* Green text for better readability and theme matching */
    font-size: 1.2rem; /* Larger text for better visibility */
}

th {
    color: black; /* Red color for header to differentiate and add to theme */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
}

.logo, .profile {
    height: 2rem; 
}

h1 {
    color: rgb(174, 38, 38);
    font-family: Arial, sans-serif;
    top: 0; 
    left: 0; 
    margin: 50px; 
    font-size: 3vw;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    #startGameButton {
        font-size: 1rem;
        padding: 0.8em 1.6em;
    }

    th, td {
        padding: 0.4em;
    }
}

.nave {
    border: none;
    width: 100%;
    height: auto; /* Adjust height automatically based on content */
    display: block; /* Ensure it takes full width */
    overflow: hidden; /* Hide any content that overflows the container */
    padding: 10px;
    background-color: white;
  }

 